@font-face {
  font-family: "iconfont"; /* Project id 3731451 */
  src: url('iconfont.woff2?t=1669806031281') format('woff2'),
       url('iconfont.woff?t=1669806031281') format('woff'),
       url('iconfont.ttf?t=1669806031281') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-Vue3:before {
  content: "\e69b";
}

.iconfont-vue2:before {
  content: "\e69a";
}

.iconfont-liuyanfill:before {
  content: "\e743";
}

.iconfont-shouyetianchong:before {
  content: "\e692";
}

.iconfont-guanyuwomen:before {
  content: "\e629";
}

.iconfont-learning-project:before {
  content: "\e6289";
}

.iconfont-wentiguanli:before {
  content: "\e6af";
}

.iconfont-gongju:before {
  content: "\e60a";
}

.iconfont-bijibenjilutongxunlu:before {
  content: "\e71f";
}

.iconfont-niantie:before {
  content: "\e7df";
}

