@font-face {
  font-family: "iconfont"; /* Project id 3731451 */
  src: url('iconfont.woff2?t=1677677740564') format('woff2'),
       url('iconfont.woff?t=1677677740564') format('woff'),
       url('iconfont.ttf?t=1677677740564') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-CSS-copy:before {
  content: "\e628a";
}

.iconfont-JavaScript:before {
  content: "\e704";
}

.iconfont-webpack:before {
  content: "\e799";
}

.iconfont-React:before {
  content: "\e79b";
}

.iconfont-jQuery:before {
  content: "\e79c";
}

.iconfont-css:before {
  content: "\e61";
}

.iconfont-html:before {
  content: "\e632";
}

.iconfont-Typescript:before {
  content: "\e6a3";
}

.iconfont-ES:before {
  content: "\e6108";
}

.iconfont-Vue2:before {
  content: "\e69b";
}

.iconfont-vue3:before {
  content: "\e69a";
}

.iconfont-liuyanfill:before {
  content: "\e743";
}

.iconfont-shouyetianchong:before {
  content: "\e692";
}

.iconfont-guanyuwomen:before {
  content: "\e629";
}

.iconfont-learning-project:before {
  content: "\e6289";
}

.iconfont-wentiguanli:before {
  content: "\e6af";
}

.iconfont-gongju:before {
  content: "\e60a";
}

.iconfont-bijibenjilutongxunlu:before {
  content: "\e71f";
}

.iconfont-niantie:before {
  content: "\e7df";
}

